<div class="top">
     <div class="wrap">
          <div><img src="/img/car.png"><span>全场免运费</span></div>
          <!-- <div><span class="welcome" id="welcome">欢迎光临资生堂官网！</span></div> -->
          <div id="welcome"><a href="http://localhost:2333/html/login.html" id="login-res">登陆/注册</a></div>
          <div><img src="/img/gcar.png"><a href="http://localhost:2333/html/shopping.html">购物车</a></div>
     </div>
</div>
<!-- logo -->
<div class="logo">
     <a href="http://localhost:2333"><img src="/img/logo.png"></a>
</div>

<!-- nav -->
<div class="nav">
     <ul class="navegater">
          <li><a href="javascript:;">首页</a></li>
          <li>
               <a href="javascript:;" class="h">护肤</a>
               <div class="border"></div>
               <div class="second">
                    <div class="left">
                         <a href="javascript:;">按系列</a>
                         <ul>
                              <li><a href="javascript:;"><img src="/img/g1.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g2.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g3.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g4.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g5.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g6.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g7.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g8.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g9.png"></a></li>
                              <li><a href="javascript:;"><img src="/img/g10.png"></a></li>
                         </ul>
                    </div>
                    <div class="center">
                         <a href="javascript:;">按种类</a>
                         <ul>
                              <li><a href="javascript:;">卸妆清洁</a></li>
                              <li><a href="javascript:;">爽肤水</a></li>
                              <li><a href="javascript:;">精华</a></li>
                              <li><a href="javascript:;">乳液</a></li>
                              <li><a href="javascript:;">面霜</a></li>
                              <li><a href="javascript:;">眼唇护理</a></li>
                              <li><a href="javascript:;">面膜</a></li>
                              <li><a href="javascript:;">护肤套装</a></li>
                         </ul>
                    </div>
                    <div class="right">
                              <a href="javascript:;">按关心问题</a>
                              <ul>
                                   <li><a href="javascript:;">干燥·缺水</a></li>
                                   <li><a href="javascript:;">色斑·暗沉</a></li>
                                   <li><a href="javascript:;">轻熟肌 弹性流失</a></li>
                                   <li><a href="javascript:;">熟龄肌 深度老化</a></li>
                                   <li><a href="javascript:;">毛孔粗大</a></li>
                                   <li><a href="javascript:;">眼周松弛</a></li>
                              </ul>
                    </div>
               </div>
          </li>
          <li>
               <a href="javascript:;">彩妆</a>
               <div class="three">
                         <div class="left">
                              <a href="javascript:;">按系列</a>
                              <ul>
                                   <li><a href="javascript:;"><img src="/img/c1.jpg"></a></li>
                                   <li><a href="javascript:;"><img src="/img/c2.jpg"></a></li>
                                   <li><a href="javascript:;"><img src="/img/c3.jpg"></a></li>
                                   <li><a href="javascript:;"><img src="/img/c4.jpg"></a></li>
                              </ul>
                         </div>
                         <div class="face">
                              <a href="javascript:;">面部</a>
                              <ul>
                                   <li><a href="javascript:;">妆前乳</a></li>
                                   <li><a href="javascript:;">粉底</a></li>
                                   <li><a href="javascript:;">遮瑕</a></li>
                                   <li><a href="javascript:;">蜜粉</a></li>
                                   <li><a href="javascript:;">腮红</a></li>
                              </ul>
                         </div>
                         <div class="eye">
                                   <a href="javascript:;">眼部</a>
                                   <ul>
                                        <li><a href="javascript:;">眼影</a></li>
                                        <li><a href="javascript:;">眼线</a></li>
                                        <li><a href="javascript:;">睫毛膏</a></li>
                                        <li><a href="javascript:;">眉笔</a></li>
                                   </ul>
                         </div>
                         <div class="lip">
                                   <a href="javascript:;">唇部</a>
                                   <ul>
                                        <li><a href="javascript:;">唇膏</a></li>
                                        <li><a href="javascript:;">唇线</a></li>
                                   </ul>
                         </div>
                         <div class="other">
                                   <a href="javascript:;">彩妆其他</a>
                                   <ul>
                                        <li><a href="javascript:;">粉盒</a></li>
                                        <li><a href="javascript:;">刷子</a></li>
                                        <li><a href="javascript:;">工具</a></li>
                                   </ul>
                         </div>
                    </div>
          </li>
          <li><a href="http://localhost:2333/html/list.html">男士</a></li>
          <li><a href="javascript:;">防晒</a></li>
          <li><a href="javascript:;">11.11</a></li>
          <li><a href="javascript:;">明星产品</a></li>
          <li><a href="javascript:;">官网购物理由</a></li>
          <li><a href="javascript:;"><span>|</span>品牌故事</a></li>
          <li><a href="javascript:;">专柜导航</a></li>
     </ul>
     
     <div class="search">
          <input type="text" placeholder="商品搜索">
          <button></button>
     </div>
</div>