
<ul>
     <li style="display: block;"><a href="http://localhost:2333/html/list.html"><img src="/img/banner1.jpg" /></a></li>
     <li><a href="http://localhost:2333/html/list.html"><img src="/img/banner2.jpg" /></a></li>
     <li><a href="http://localhost:2333/html/list.html"><img src="/img/banner3.jpg" /></a></li>
     <li><a href="http://localhost:2333/html/list.html"><img src="/img/banner4.jpg" /></a></li>
</ul>
<a href="javascript:;" id="goPrev"><img src="/img/Arrow-Lb.png"></a>
<a href="javascript:;" id="goNext"><img src="/img/Arrow-Rb.png"></a></a>
